body{
    display: flex;
    flex-direction: column;
    height: inherit;
}                                                 

                                                        /*  */


#nav{height: 80px;
    
    display: flex;  
    background-color: #000000;
}

#logo{
    height: 28px;
    width: 93px;
    background-image:url(amazon.jpg) ;
    background-size: contain;
   margin: 20px;
}
#address{
    height: 50px;
    width: 60px;
    text-decoration-color: aliceblue;
    background-color: rgb(0, 0, 0);
    margin: 10PX;
    color: #ffffff;
    position: absolute;
    left: 130PX;

}
#SEARCH{
    width: 900px;
    height: 50px;
    background-color: rgb(255, 0, 0);
    
    
}
input{
    width: 900px;
    height: 40px;
    margin-top: 10px;
    border-radius: 10px;
    position: absolute;
    left: 200PX;
}
#button{
    height: 40px;
    width: 50px;
    
    
}

button{
    background-image:url(search.jpg);
    background-size: contain;
    border-radius: 10px;
    height: 45px;
    width: 50px;
    margin-top: 10px;
    position: relative;
    left: 970PX;
}
#login{
    height: 60px;
    width: 100px;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    position: absolute;
    left: 1170px;
    top: 15px;
}
#order{
    height: 60px;
    width: 100px;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    position: absolute;
    left: 1280px;
    top: 15px;
}
#cart{
    height: 50px;
    width: 50px;
    color: #ffffff;
    background-image:url(cart.jpg) ;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    left: 1390px;
    top: 15px;
}
#nav2{
    height: 40px;
    width: 1500px;
    background-color: #0b314b;
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 2;
    top: 80px;
}
#bar1{
    height: 40px;
    width: 1000px;
    display: flex;
}

#baro{
    height: 30px;
    width: 200px;
    color: white;
    margin-left: 30px;
    margin-top: 5px;
}
#back{
    background-image:url(backround.jpg);
    height: 1200px;
    width: 1500px;
    background-size: contain;
    position: absolute;
    top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    
}
#firstline{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    top: 80px;
}
#secondline{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    top: 150px;
}
.box{
    width: 300px;
    height: 300px;
    background-color: rgb(254, 254, 254);
    border-style: solid;
    border-color: rgb(251, 250, 250);
    

}
#f1{
    background-image: url(cpu.jpg);
    background-size: cover;
    font-size: 40px;
    font-style: oblique;
}
#f2{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    font-style: oblique;
    font-size: large;
    
}
#f3{
    background-image: url(image.jpg);
    background-size: cover;
    
}

@keyframes text{
    from{
        height: 300px;
        width: 300px;
    }
    to{
        height: 400px;
        width: 400px;
    }
}

@keyframes border{
    from{
        border:none;
        border-color: none;
    }
    to{
        border:solid;
      border-color: #ffffff;
      font-size: large;
    }
}
@keyframes navbare{
    from{
        border:none;
        border-color: none;

    }
    to{
        border:solid;
      border-color: #ffffff;
      border-width:2px;
      font-size: large;
      
    }
}
/* @keyframes text{
    from{
        border:none;
        border-color: none;
    }
    to{
        border:solid;
      border-color: #ffffff;
    }
}
.texth:hover{
    animation: text 1s ease 0s infinite;
} */
.nave:hover{
    animation: navbare 1s ease 0s infinite;
}
#baro:hover{
    animation:border 1s ease 0s infinite;
}
.box:hover{
    animation: text 1s ease 0s 1;
}
.ff{
    height: 150px;
    width: 240px;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    margin-top: -5px;
}
.makeup{
    border-style: solid;
    border-color: #ffffff;
    height: 100px;
    width: 120px;
    margin: 10px;
}
#m1{
    background-image:url(makeup1.jpg) ;
    background-size: cover;
}
#m2{
    background-image:url(makeup2.jpg) ;
    background-size: cover;
}
#m3{
    background-image:url(makeup3.jpg);
    background-size: cover;
}
#m4{
    background-image: url(makeup4.jpg);
    background-size: cover;
}
h3{
    height: 10px;
    margin-top: 0px;
    text-align: center;
}
#f4{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    font-style: oblique;
    font-size: large;
    
}
.c{
    height: 150px;
    width: 240px;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    margin-top: -5px;
}
.cloths{
    border-style: solid;
    border-color: #ffffff;
    height: 100px;
    width: 120px;
    margin: 10px;
}
#c1{
    background-image: url(cloth.jpg);
    background-size: cover;
}
#c2{
    background-image:url(cloth3.jpg) ;
    background-size: cover;
}
#c3{
    background-image:url(cloth4.jpg);
    background-size: cover;
}
#c4{
    background-image:url(cloth2.jpg);
    background-size: cover;
}
#s1{
    background-image: url(gym.jpg);
    background-size: cover;
    font-size: 40px;
    font-style: oblique;
}
#s3{
    background-image: url(dress.jpg);
    background-size: cover;
    font-size: 40px;
    font-style: oblique;
}
#s2{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    font-style: oblique;
    font-size: large;
    
}
.home1{
    height: 150px;
    width: 240px;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    margin-top: -5px;
}
#home{
    border-style: solid;
    border-color: #ffffff;
    height: 100px;
    width: 120px;
    margin: 10px;
}
.e1{
    background-image:url(home.jpg);
    background-size: cover;
}
.e2{
    background-image:url(home2.jpg) ;
    background-size: cover;
}
.e3{
    background-image:url(home3.jpg);
    background-size: cover;
}
.e4{
    background-image:url(home4.jpg);
    background-size: cover;
} 

#s4{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    font-style: oblique;
    font-size: large;
    
}
.watch1{
    height: 150px;
    width: 240px;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    margin-top: -5px;
}
#watch{
    border-style: solid;
    border-color: #ffffff;
    height: 100px;
    width: 120px;
    margin: 10px;
}
.w1{
    background-image:url(home4.jpg);
    background-size: cover;
}
.w2{
    background-image:url(home2.jpg) ;
    background-size: cover;
    
}
.w3{
    background-image:url(home3.jpg);
    background-size: cover;
}
.w4{
    background-image:url(home.jpg);
    background-size: cover;
} 
#footer{
    height:500px ;
    width: 1500px;
    background-color: #0b314b;
    position: absolute;
    top: 1200px;
    display: flex;
    flex-direction: row;
    text-align: center;
    

}
#text1{
    width: 140px;
    height: 300px;
    color: #ffffff;
    margin: 90px;
}
#text2{
    width: 200px;
    height:300px ;
    color: #ffffff;
    margin: 90px;
}
#text3{
    width: 150px;
    height:300px ;
    color: #ffffff;
    margin: 90px;
}

#text4{
    width: 150px;
    height:300px ;
    color: #ffffff;
    margin: 90px;
}
#gret{
    font-size:xx-large;
    font-weight: 900;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 400px;
    left: 500px;
   
}

@keyframes textw{
    from{
        border:none;
        border-color: none;
    }
    to{
        border:solid;
      border-color: #ffffff;
    }
}
.texth:hover{
    animation: textw 1s ease 0s infinite;
}
.audio{
    position: absolute;
    z-index: 5;
    background-color: red;
}